<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="packConfigurationSection" type="Network_Analyzer.PackConfigurationSection, Network_Analyzer"/>
  </configSections>
  <appSettings>
    <add key="LogFolder" value="C:\log_data\debug"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="ApplicationLog" xsi:type="File" fileName="c:\log_data\debug\network-analyzer-log.txt" archiveFileName="c:\log_data\debug\network-analyzer-log.{#}.txt" archiveEvery="Month" archiveDateFormat="yyyyMM" archiveNumbering="Date">
      </target>
    </targets>
  </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
